@import "./vendors/bs-5.3.7/bootstrap";
@import "./partials/fonts";
@import "./partials/base";


// navbar


.navbar-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white-color;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;



}

.navbar-brand{
    font-weight: 600;
}
.navbar-nav{
    li{
        &:not(:last-child){
            margin-right: 1.5rem;
        }
        button{
            text-transform: capitalize;
            font-weight: 500;

        }
    }
}



// main hero section


.main-hero-section{
    padding: 2rem 0;
    margin-top: 3.5rem;
    background-color: rgb(248 250 252 / 0.8);
}

.main-hero-heading{
    font-size: clamp(2rem, 3vw, 7rem);
    font-weight: 600;
    span{
        color: $theme-color-1;
    }
}


@import "./partials/mediaqueries"